node_modules
dist
other
src/styles
public/*.hot*
public/*.woff
public/*.woff2
public/*.ttf
public/*.map
public/*.eot
react-simple-chat/node_modules
singleBundo.js.zip
singleBundo.js.html
coverage
npm-debug.log
.DS_Store

